___
# Ciência dos Dados - PROJETO 1

## João Laet de Toledo Cesar

## Escolaridade em relação a cor de pele e classe social

___
## Introdução

O projeto tem como objetivo analisar a escolaridade em diferentes classes sociais no Brasil, tendo como foco a cor de pele. Ou seja, dentro de uma classe social, será analisado a escolaridade de acordo com a cor de pele.

dados: sabe ler e escrever; rede de ensino; faixa de renda domiciliar per capita; anos de estudo; cor ou raça; idade; frequenta escola ou creche; ultima serie concluida com aprovação.

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\João Laet\Documents\3° semestre\Ciencia dos Dados\Projeto 1

In [6]:
#Se usar o arquivo descompactado
dados2015 = pd.read_csv('PES2015.csv',sep=',')
df = pd.DataFrame({"cor_raça":dados2015["V0404"],
                   "Idade":dados2015["V8005"],
                   "Faixa_de_Renda":dados2015["V4743"],
                   "sabe_ler_e_escrever":dados2015["V0601"],
                   "Rede_Ensino":dados2015["V6002"],
                   "Anos_Estudo": dados2015["V4803"],
                   "ultima_serie_concluida": dados2015["V0610"],
                   "Frequenta_escola_ou_creche": dados2015["V0602"]})
df

,Anos_Estudo,Faixa_de_Renda,Frequenta_escola_ou_creche,Idade,Rede_Ensino,cor_raça,sabe_ler_e_escrever,ultima_serie_concluida
0,12,4.0,4,23,NaN,8,1,3.0
1,12,4.0,4,23,NaN,2,1,3.0
2,15,4.0,2,35,4.0,8,1,NaN
3,15,4.0,4,34,NaN,8,1,3.0
4,4,4.0,2,11,4.0,8,1,NaN
5,2,4.0,2,7,2.0,8,1,NaN
6,1,4.0,2,4,2.0,8,3,NaN
7,12,4.0,4,18,NaN,8,1,3.0
8,6,6.0,4,46,NaN,2,1,5.0
9,3,6.0,4,81,NaN,8,1,2.0
10,6,5.0,4,71,NaN,2,1,5.0
11,9,2.0,4,47,NaN,8,1,8.0
12,12,2.0,4,24,NaN,2,1,3.0
13,12,4.0,4,28,NaN,8,1,3.0
14,9,4.0,4,50,NaN,8,1,8.0
15,1,4.0,4,1,NaN,8,3,NaN
16,12,4.0,4,34,NaN,8,1,3.0
17,12,4.0,4,35,NaN,8,1,3.0
18,9,4.0,4,16,NaN,8,1,0.0
19,5,4.0,2,11,2.0,8,1,NaN
20,1,4.0,4,3,NaN,8,3,NaN
21,12,5.0,4,57,NaN,8,1,3.0
22,12,5.0,4,51,NaN,8,1,NaN
23,11,5.0,2,16,4.0,8,1,NaN
24,12,6.0,4,60,NaN,8,1,3.0
25,14,4.0,2,50,2.0,4,1,NaN
26,16,4.0,4,30,NaN,8,1,4.0
27,12,3.0,4,26,NaN,8,1,3.0
28,11,3.0,4,20,NaN,8,1,2.0
29,1,3.0,4,1,NaN,8,3,NaN
...,...,...,...,...,...,...,...,...
356874,8,99.0,2,15,2.0,8,1,NaN
356875,1,2.0,4,54,NaN,2,3,NaN
356876,1,2.0,4,47,NaN,8,3,NaN
356877,12,2.0,4,24,NaN,2,1,3.0
356878,10,2.0,4,22,NaN,2,1,1.0
356879,8,2.0,4,20,NaN,8,1,8.0
356880,12,2.0,4,28,NaN,8,1,3.0
356881,7,3.0,4,30,NaN,4,1,6.0
356882,7,3.0,4,31,NaN,2,1,6.0
356883,2,3.0,2,9,2.0,2,1,NaN
356884,1,3.0,2,4,2.0,8,3,NaN
356885,12,3.0,4,32,NaN,8,1,3.0
356886,7,3.0,4,30,NaN,8,1,6.0
356887,1,3.0,2,4,2.0,8,3,NaN
356888,1,3.0,4,1,NaN,8,3,NaN
356889,4,1.0,2,34,2.0,4,1,NaN
356890,4,1.0,2,9,2.0,4,1,NaN
356891,1,1.0,2,6,2.0,4,3,NaN
356892,1,1.0,2,5,2.0,4,3,NaN
356893,1,1.0,4,2,NaN,4,3,NaN
356894,1,4.0,4,57,NaN,8,3,NaN
356895,16,4.0,4,36,NaN,8,1,4.0
356896,12,4.0,4,18,NaN,8,1,3.0
356897,4,3.0,4,57,NaN,8,1,3.0
356898,14,3.0,4,33,NaN,8,1,2.0
356899,4,2.0,4,38,NaN,8,1,3.0
356900,7,2.0,4,39,NaN,8,1,6.0
356901,11,2.0,2,17,2.0,8,1,NaN
356902,9,2.0,2,15,2.0,8,1,NaN
356903,1,2.0,2,7,2.0,8,1,NaN

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!